/* global scrollbar */
/* Track */
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 2px lightgrey; 
	border-radius: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
	background: lightgray; 
	border-radius: 10px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #80c792; 
}

/* footer logo */
.footer-logo {background-color: #FFFFFF; border-radius: 4px;}

/* custom class */
.cur-pointer {cursor: pointer;text-decoration: none;}

/* bootstrap provided responsive break points */

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

}

@media (max-width: 1199.98px) {

}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {

}

@media (max-width: 991.98px) {

}

@media (min-width: 992px) and (max-width: 1199.98px) {

}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
	/* width */
	::-webkit-scrollbar {
		width: 10px;
	}
}

@media (max-width: 767.98px) {
	/* width */
	::-webkit-scrollbar {
		width: 7px;
	}
}

@media (min-width: 768px) and (max-width: 991.98px) {

}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {

}

@media (max-width: 575.98px) {
	
}

@media (min-width: 576px) and (max-width: 767.98px) {
	
}

/* custom responsive */

@media (max-width: 619.98px) {
	#user-nav {margin-right:46px;}
}