body, header, nav, footer {min-width: 360px;}

/* fonts */
.font-md {font-size: 150%;}

/* custom */
.hide {display: none;}
.show {display: block;}
.fw600 {font-weight: 600;}
.fw500 {font-weight: 500;}
.unseen-input {width: 0px !important;height: 0px !important;}
.select2 {width: 100% !important;}

/* alert */
.d-alert {position: absolute;top:34px;right: 80px;z-index: 5;left: auto;}

/* borders */
.bl-1 {border-left: 1px solid lightgray;}
.bb-1 {border-bottom: 1px solid lightgray;}

/* background colors */
.bg-trans {background: transparent;}
.bg-dark {background-color: #222d32 !important;}

/* logo */
.title-logo-img {max-height: 30px;}
.copyright-logo {max-height: 16px;}
.dashboard-logo {max-height: 100px;width: auto;}

/* bootstrap buttons */
button:disabled {cursor: no-drop;}
.btn-primary {background-color: #3c8dbc;border-color: #367fa9;}
.btn-primary:hover, .btn-primary:active, .btn-primary.hover {color: #fff;background-color: #286090;border-color: #204d74;}
.btn-success {background-color: #00a65a;border-color: #008d4c;}
.btn-success:hover, .btn-success:active, .btn-success.hover {color: #fff;background-color: #449d44;border-color: #398439;}

/* breadcrumbs */
.breadcrumb-box {position: fixed;width: 100%;z-index: 999;}
.breadcrumb-box .breadcrumb {padding: 5px 15px;margin-bottom: 0px;}
.breadcrumb-box .breadcrumb .breadcrumb-item a {cursor: pointer; font-size: 85%;color:darkblue;font-weight: 500;}
.breadcrumb-box .breadcrumb .breadcrumb-item a:hover {cursor: pointer;}
.breadcrumb-box .breadcrumb .breadcrumb-item.active a, .breadcrumb-box .breadcrumb .breadcrumb-item.active a:hover {color: #0F0F0F;text-decoration: none;cursor: auto;}

/* page */
.page-content {padding-top: 33px;}
.page-content .card .card-body {padding: 1rem;}
.page-header {padding: 5px 0px;margin-top: 5px;}
.heading-devider {margin-top: 0;margin-bottom: 15px;}

/* page details page */
.list-group.section-entry-list li.list-group-item {padding: 5px 7.5px;}
.list-group.section-entry-list li.list-group-item .slide-box i.fa {font-size: 12rem;}
.list-group.section-entry-list li.list-group-item .fa-angle-left,
.list-group.section-entry-list li.list-group-item .fa-angle-right {margin-top: 5rem;}
#groupContent .list-group-item .list-group.group-content-entry-list li,
.list-group.section-entry-list li {opacity: .5;}
#groupContent .list-group-item .list-group.group-content-entry-list li:first-child,
.list-group.section-entry-list li:first-child {opacity: 1;}
#groupContent .list-group-item .list-group.group-content-entry-list li:nth-child(2),
#groupContent .list-group-item .list-group.group-content-entry-list li:nth-child(3),
#groupContent .list-group-item .list-group.group-content-entry-list li:nth-child(2) .custom-control-input,
#groupContent .list-group-item .list-group.group-content-entry-list li:nth-child(3) .custom-control-input,
.list-group.section-entry-list li:nth-child(2),
.list-group.section-entry-list li:nth-child(3),
.list-group.section-entry-list li:nth-child(2) .custom-control-input,
.list-group.section-entry-list li:nth-child(3) .custom-control-input {cursor: no-drop;}
#groupContent .list-group-item .list-group.group-content-entry-list.active,
.list-group.section-entry-list.active {opacity: 1;box-shadow: 0px 0px 6px 1px rgba(0,0,0, .35);}
#groupContent .list-group-item .list-group.group-content-entry-list.active li,
.list-group.section-entry-list.active li {opacity: 1;}
#groupContent .list-group-item .list-group.group-content-entry-list.active li:nth-child(2),
#groupContent .list-group-item .list-group.group-content-entry-list.active li:nth-child(3),
.list-group.section-entry-list.active li:nth-child(2),
.list-group.section-entry-list.active li:nth-child(3) {cursor: pointer;}

/* section colapsing */
.click-cursor h5 {cursor: pointer;width: 100%;}
.click-cursor:hover h5 {background: rgba(0,0,0, .05);}

/* content box */
.content-box {max-height: 220px;overflow-y: auto;}
.content-box .btn-group-vertical, .content-box .dropdown {position: absolute;right: 15px;top: 0;}
.content-box .btn-group-vertical, .content-box .dropdown .dropdown-menu {min-width: unset !important;left: auto !important;right:0px!important;margin: 0px !important;padding: 0px !important;}
.content-box .btn-group-vertical, .content-box .dropdown .dropdown-menu .dropdown-item {margin: 0px;padding: 0px 5px;}

/* The input-container */
.input-container {
    display: inline-block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 5px;
    margin-left: 0px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/* Hide the browser's default radio button */
.input-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
/* Create a custom radio button */
.radio-checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #ddd;
    border-radius: 50%;
}
/* On mouse-over, add a grey background color */
.input-container:hover input ~ .radio-checkmark {
    background-color: #bbb;
}
/* When the radio button is checked, add a blue background */
.input-container input:checked ~ .radio-checkmark {
    background-color: #2196f3;
}
/* Create the indicator (the dot/circle - hidden when not checked) */
.radio-checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
/* Show the indicator (dot/circle) when checked */
.input-container input:checked ~ .radio-checkmark:after {
    display: block;
}
/* Style the indicator (dot/circle) */
.input-container .radio-checkmark:after {
    top: 6px;
    left: 6px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}
/* Create a custom checkbox */
.box-checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #ddd;
    border: 1px solid #bbb;
}

/* On mouse-over, add a grey background color */
.input-container:hover input ~ .box-checkmark {
    background-color: #bbb;
}

/* When the checkbox is checked, add a blue background */
.input-container input:checked ~ .box-checkmark {
    background-color: #2196f3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.box-checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.input-container input:checked ~ .box-checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.input-container .box-checkmark:after {
    left: 6px;
    top: 2px;
    width: 7px;
    height: 12px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* global scrolbar */
/* width */
::-webkit-scrollbar {
  width: 7px;
}
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px lightgrey; 
  border-radius: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: lightgray; 
  border-radius: 10px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: gray; 
}

@media(max-width:991px) {
    
}

@media(min-width: 768px) {
    
}

@media(max-width:767px) {
    
}

@media(max-width:420px) {
    
}